# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.local
.env.backup
.env.*.local
certievents-backend-nestjs/.env

# Node.js
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
