<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Alex+Brush&display=swap" rel="stylesheet">

<style>

@page{
    size:A4 landscape;
    margin:0;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:297mm;
    height:210mm;
    overflow:hidden;
}

body{
    font-family:'Montserrat',sans-serif;
}

.certificate{

    position:relative;

    width:297mm;
    height:210mm;

    background:url("data:image/png;base64,{{bgImageBase64}}") center center no-repeat;
    background-size:100% 100%;
}

/* ---------------- Nome ---------------- */

.nome{

    position:absolute;

    width:100%;

    top:107mm;

    text-align:center;

    font-size:19px;
    font-weight:700;

    color:white;

    letter-spacing:1px;

    text-transform:uppercase;

    text-shadow:
        0 0 5px #b84dff,
        0 0 10px #b84dff,
        0 0 18px rgba(184,77,255,.6);

}

/* ---------------- Assinaturas ---------------- */

.assinatura{

    position:absolute;

    font-size:32px; /* Aumentado um pouco para compensar o tamanho natural da fonte cursiva */
    font-family:'Alex Brush', cursive;

    color: white;
    white-space:nowrap;
}

.coord{
    bottom:23.5mm;
    left:24%;
}

.dir{
    bottom:23.5mm;
    left:63.5%;
}

/* ---------------- Código ---------------- */

.codigo{

    position:absolute;

    right:13mm;
    bottom:5mm;

    font-size:7px;

    color:rgba(255,255,255,.45);

    letter-spacing:1px;

}

</style>
</head>

<body>

<div class="certificate">

    <div class="nome">
        {{nome}}
    </div>

    <div class="assinatura coord">
        Liliane Alves
    </div>

    <div class="assinatura dir">
        Lincoln Tavares
    </div>

    <div class="codigo">
        ID {{certificadoId}}
    </div>

</div>

</body>
</html>